<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <style>
        body {
            background: #ddd;
        }

        li {
            list-style: none;
            display: inline-block;
            margin: 20px;
        }
    </style>
</head>

<body>
    <a href="/">
        <button>Back to gallery</button>
    </a>
    <h1>
        Name:
        <%= firstName %>
            <%= lastName %>
    </h1>
    <img width=300 src="/<%= src %>">
    <div>
        Title:
        <%= title %>
    </div>
    <div>
        Nationality:
        <%= nationality %>
    </div>
    <div>
        Skills:
        <% for(let skill of skills){ %>
            <li>
                <%= skill %>
            </li>
            <% } %>
    </div>
    <div>
        Why a software developer:
        <%= whySofterDeveloper %>
    </div>
    <div>
        Long term vision:
        <%= longTermVision %>
    </div>
    <div>
        What motivates me:
        <%= motivatesMe %>
    </div>
    <div>
        Favorite quote:
        <%= favoriteQuote %>
    </div>
    <div>
        Joined on:
        <%= joinedOn %>
    </div>



</body>

</html>